[Unit]
Description=Image of the Day --- Telegram Bot
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/iotd/iotd.py
WorkingDirectory=/home/pi/iotd
User=pi
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
