[Unit]
Description=Image of the Day --- Telegram Bot
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/iotd/iotd.py
WorkingDirectory=/home/pi/iotd
User=pi
StandardOutput=file:/home/pi/iotd.log
StandardError=file:/home/pi/iotd.log

[Install]
WantedBy=multi-user.target